Source: gpg-open
Section: utils
Priority: optional
Maintainer: Christoph Souris <christoph.souris@googlemail.com>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: gpg-open
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bash (>=3.2), python( >= 2.4), libgnome2-0, zenity
Description: GPG decryption/encryption proxy for the 'gnome-open' command
 This is a small utility which acts as GPG decryption/encryption proxy
 for the 'gnome-open' command line utility. It decrypts GPG encrypted
 files, opens the associated application and encrypts if changes were made. 

