Source: gpg-open
Section: utils
Priority: optional
Maintainer: Christoph Souris <christoph.souris@googlemail.com>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: gpg-open
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bash (>=3.2), python( >= 2.4), libgnome2-0, zenity
Description: Open PGP/GPG encrypted file in the dedicated application
 This is a small utility used to open PGP/GPG encrypted files directly in
 the dedicated application. It decrypts a file, opens it in the dedicated
 application using the 'gnome-open' utility and re-encrypts the file if
 changes where made.
